:root {
  --font-display-title: 500 64px 'Markazi Text', serif;
  --font-sub-title: 500 48px 'Markazi Text', serif;
  --font-regular-title: 400 40px 'Markazi Text', serif;

  --font-regular: 400 16px 'Karla', sans-serif;
  --font-call-to-action: 500 18px 'Karla', sans-serif;
  --font-section-categories: 800 16px 'Karla', sans-serif;
  --font-card-title: 700 16px 'Karla', sans-serif;
  --font-section-title: 800 20px 'Karla', sans-serif;
  --text-transform-section-title: uppercase;

  --color-primary-green: #495e57;
  --color-primary-yellow: #f3ce14;
  --color-secondary-orange: #ee9972;
  --color-secondary-orange-light: #fbdabb;
  --color-highlight-light: #edefee;
  --color-highlight-dark: #333333;
}


*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav ul {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  list-style: none;

  font: var(--font-regular-title);
}

nav li {
  padding: 0.25rem 1rem;
}

nav a {
  color: inherit;
  /* text-decoration: none; */
}

header {
  padding: 1rem;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer {
  padding: 1rem;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

footer > * {
  padding: 0.5rem 2rem;
}

footer nav ul {
  flex-direction: column;
  font: var(--font-regular);
}

footer nav li {
  padding-left: 0;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
}

.wrapper {
  width: 100%;
}

.wrapper:has(footer) {
  background-color: var(--color-highlight-light);
}

.wrapper:has(.hero) {
  background-color: var(--color-primary-green);
}

.rounded {
  border-radius: 16px;
}

.logo {
  margin-right: 2rem;
}

.logo-footer img {
  height: 180px;
}

section.hero {
  padding: 2rem 0;
  margin-bottom: 8rem;
  color: var(--color-highlight-light);
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
}

.hero h1 {
  color: var(--color-primary-yellow);
  font: var(--font-display-title);
}

.hero h2 {
  font: var(--font-sub-title);
}

.hero p {
  margin: 2rem 0;
  font: var(--font-regular-title);
}

section.hero {
  grid-template-columns: repeat(2, 1fr);
}

.overflow-img-wrapper {
  margin: 0;
  display: flex;
  justify-content: end;
  position: relative;
}

.overflow-img {
  width: 100%;
  max-width: 480px;
  position: absolute;
}

section.highlights {
  margin: 2rem auto;
}

section.highlights .specials {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

section.highlights .specials {
  display: flex;
  justify-content: space-between;
}

section.highlights h2 {
  font: var(--font-sub-title);
}

button.btn {
  padding: 1rem;
  cursor: pointer;
  font: var(--font-call-to-action);
  border: 1px solid transparent;
  background-color: var(--color-primary-yellow);
}

button.btn:hover {
  filter: brightness(1.1);
}

button.btn:active {
  background-color: var(--color-secondary-orange-light);
}


.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.card {
  width: 265px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-highlight-light);
  border-radius: 16px 16px 0 0;
}

.card-img img {
  margin-bottom: 1rem;
  width: 100%;
  height: 175px;
  border-radius: 16px 16px 0 0;
}

.card-header {
  display: flex;
  justify-content: space-between;
  font: var(--font-card-title);
}

.card-header span {
  color: var(--color-secondary-orange);
}

.card-header, .card-body, .card-footer {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.card-body {
  color: var(--color-primary-green);
}

.card-footer {
  color: var(--color-highlight-dark);
}

.card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
