:root {
  --font-display-title: 500 64px 'Markazi Text', serif;
  --font-sub-title: 500 48px 'Markazi Text', serif;
  --font-regular-title: 400 40px 'Markazi Text', serif;

  --font-regular: 400 16px 'Karla', sans-serif;
  --font-call-to-action: 500 18px 'Karla', sans-serif;
  --font-section-categories: 800 16px 'Karla', sans-serif;
  --font-card-title: 700 16px 'Karla', sans-serif;
  --font-section-title: 800 20px 'Karla', sans-serif;
  --text-transform-section-title: uppercase;

  --color-primary-green: #495e57;
  --color-primary-yellow: #f3ce14;
  --color-secondary-orange: #ee9972;
  --color-secondary-orange-light: #fbdabb;
  --color-highlight-light: #edefee;
  --color-highlight-dark: #333333;
}


*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-primary-green {
  background-color: var(--color-primary-green);
}

.background-primary-yellow {
  background-color: var(--color-primary-yellow);
}

.background-secondary-orange {
  background-color: var(--color-secondary-orange);
}

.background-secondary-orange-light {
  background-color: var(--color-secondary-orange-light);
}

.background-highlight-light {
  background-color: var(--color-highlight-light);
}

.background-highlight-dark {
  background-color: var(--color-highlight-dark);
}

.text-primary-green {
  color: var(--color-primary-green);
}

.text-primary-yellow {
  color: var(--color-primary-yellow);
}

.text-secondary-orange {
  color: var(--color-secondary-orange);
}

.text-secondary-orange-light {
  color: var(--color-secondary-orange-light);
}

.text-highlight-light {
  color: var(--color-highlight-light);
}

.text-highlight-dark {
  color: var(--color-highlight-dark);
}

.font-display-title {
  font: var(--font-display-title);
}

.font-sub-title {
  font: var(--font-sub-title);
}

.font-regular-title {
  font: var(--font-regular-title);
}

.font-regular {
  font: var(--font-regular);
}

.font-call-to-action {
  font: var(--font-call-to-action);
}

.font-section-categories {
  font: var(--font-section-categories);
}

.font-card-title {
  font: var(--font-card-title);
}

.font-section-title {
  font: var(--font-section-title);
}

nav ul {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  list-style: none;

  font: var(--font-regular-title);
}

nav li {
  padding: 0.25rem 1rem;
}

nav a {
  color: inherit;
  /* text-decoration: none; */
}

header {
  padding: 1rem;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer {
  padding: 1rem;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

footer > * {
  padding: 0.5rem 2rem;
}

footer nav ul {
  flex-direction: column;
  font: var(--font-regular);
}

footer nav li {
  padding-left: 0;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
}

.wrapper {
  width: 100%;
}

.rounded {
  border-radius: 16px;
}

.logo {
  margin-right: 2rem;
}

.logo-footer img {
  height: 180px;
}

section.hero {
  padding: 2rem 0;
  margin-bottom: 8rem;
  color: var(--color-highlight-light);
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.hero h1 {
  color: var(--color-primary-yellow);
  font: var(--font-display-title);
}

.hero h2 {
  font: var(--font-sub-title);
}

.hero p {
  margin: 2rem 0;
  font: var(--font-regular-title);
}

.overflow-img-wrapper {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.overflow-img {
  width: 100%;
  max-width: 480px;
  position: absolute;
}

section.highlights {
  margin: 2rem auto;
}

section.highlights .specials {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

section.highlights h2 {
  font: var(--font-sub-title);
}

button.btn {
  padding: 1rem;
  cursor: pointer;
  font: var(--font-call-to-action);
  border: 1px solid transparent;
  background-color: var(--color-primary-yellow);
}

button.btn:hover {
  filter: brightness(1.1);
}

button.btn:active {
  background-color: var(--color-secondary-orange-light);
}


.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.card {
  width: 265px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-highlight-light);
  border-radius: 16px 16px 0 0;
}

.card-img img {
  margin-bottom: 1rem;
  width: 100%;
  height: 175px;
  border-radius: 16px 16px 0 0;
}

.card-header {
  display: flex;
  justify-content: space-between;
  font: var(--font-card-title);
}

.card-header span {
  color: var(--color-secondary-orange);
}

.card-header, .card-body, .card-footer {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.card-body {
  color: var(--color-primary-green);
}

.card-footer {
  color: var(--color-highlight-dark);
}

.card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.testimonials {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: var(--color-highlight-light);
}

.testimonials h2 {
  font: var(--font-regular-title);
  margin-bottom: 1rem;
}

.testimonials .reviews {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.testimonial {
  padding: 1rem;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  color: var(--color-highlight-dark);
  background-color: var(--color-highlight-light);
}

.testimonial h4 {
  font: var(--font-card-title);
}

.testimonial > :not(:last-child) {
  margin-bottom: 1rem;
}

.testimonial-user {
  display: flex;
  align-items: center;
}

.testimonial-user :first-child {
  margin-right: 0.25rem;
}

.testimonial-user img {
  width: 48px;
  height: 48px;
}

.about {
  padding: 1rem;
  display: grid;
  color: var(--color-highlight-dark);
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.about h1 {
  color: var(--color-primary-green);
  font: var(--font-display-title);
}

.about h2 {
  font: var(--font-sub-title);
}

.about p {
  margin-top: 3rem;
  font: var(--font-call-to-action)
}

.about-images {
  display: grid;
  grid-template-columns: 1fr;
}

.about-images img {
  width: 55%;
}

.about-images img:first-child {
  margin-top: 35%;
  grid-row-start: 1;
  grid-column-start: 1;
}

.about-images img:last-child {
  margin-left: 40%;
  grid-row-start: 1;
  grid-column-start: 1;
}

.footer-cat {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color-primary-green);
  font: var(--font-call-to-action);
}

.booking-form {
  padding: 1rem;
  margin: 1rem auto;
  display: grid;
  justify-content: center;
  gap: 20px;
  border-radius: 16px;
  background-color: var(--color-highlight-light);
}

.booking-confirm {
  padding: 25rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.invalid-field {
  color: #ff2020;
  font-size: 0.9em;
  margin-top: -0.8rem;
}

@media (max-width: 1080px) {
  section.hero {
    grid-template-columns: repeat(1, 1fr);
  }

  .overflow-img-wrapper {
    justify-content: center;
  }

  .overflow-img {
    position: relative;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .testimonials .reviews {
    grid-template-columns: repeat(1, 1fr);
  }

  .about {
    padding: 1rem;
    display: grid;
    color: var(--color-highlight-dark);
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  section, section.hero {
    padding: 1rem;
  }

  .booking-confirm {
    padding: 10rem 2rem;
    text-align: center;
  }
}
